.categContainer {
  padding: 0 5% 10% 5%;
  .categTitle {
    font-size: $titleSize;
    font-weight: $titleWeight;
    line-height: 1;
    margin-bottom: 4.5vw;
  }
  .formulario {
    display: flex;
    flex-direction: column;
    margin: 4.5vw 0;
    position: relative;
    .nombreInput {
      border: 1px solid rgb(196, 196, 196);
      border-radius: 8px;
      width: 100%;
      height: 12vw;
      background-color: white;
      padding: 3%;
      font-size: 3.8vw;
      &::placeholder {
        color: grey;
      }
    }
    .agregarBtn {
      position: absolute;
      top: 26%;
      right: 4%;
      color: $info;
      font-weight: $titleWeight;
      &:focus {
        outline: none;
      }
    }
  }
  .cardCateg {
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin-bottom: 5%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    padding: 5%;
    height: auto;
    display: flex;
    flex-direction: column;

    .categName {
      font-weight: $titleWeight;
      font-size: 4vw;
    }
    .subCategs {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      list-style: none;
      padding: 5% 0 0 5%;
      line-height: 1;

      .list-item {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        .list-item-circle {
          display: inline-block;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background-color: black;
          margin-right: 8px;
        }
      }
    }
    .administrarCateg {
      margin-top: 5%;
      display: flex;
      width: 100%;
      justify-content: space-between;
      .editCrearSubcateg {
        @include center;
        .iconContainer1 {
          width: 8vw;
          height: 8vw;
          border: 1px solid $naranja;
          border-radius: 8px;
          @include center;
          background-color: #fef5e6;
          .editarIcon {
            width: 1.2rem;
            height: 1.2rem;
          }
        }
        .btnContainer {
          margin-left: 4vw;
          padding: 0 2vw;
          height: 8vw;
          border: 1px solid $naranja;
          border-radius: 8px;
          background-color: #fef5e6;
          @include center;
          .crearSubcateg {
            @include center;
            .signoMas1 {
              width: 18px;
              height: 1px;
              background-color: black;
              @include center;
              margin-right: 2vw;
              .signoMas2 {
                width: 1px;
                height: 18px;
                background-color: black;
              }
            }
            font-weight: $titleWeight;
            font-size: 4vw;
          }
        }
      }
      .iconContainer2 {
        width: 8vw;
        height: 8vw;
        background-color: #ffe5e5;
        border: 1px solid #ff3d3d;
        border-radius: 8px;
        @include center;
        .eliminarIcon {
          width: 1.2rem;
          height: 1.2rem;
        }
      }
    }
  }
  // footer {
  //   width: 100vw;
  //   position: fixed;
  //   bottom: 0;
  //   padding-bottom: 5%;
  //   z-index: 1;
  //   .botonFooter {
  //     box-shadow: 0px 0px 4px 0px rgba(77, 79, 102, 0.8);
  //     @include center;
  //     position: relative;
  //     background-color: $naranja;
  //     height: 12vw;
  //     width: 90vw;
  //     border-radius: 6px;
  //     -webkit-border-radius: 6px;
  //     -moz-border-radius: 6px;
  //     -ms-border-radius: 6px;
  //     -o-border-radius: 6px;
  //     font-weight: $titleWeight;
  //     font-size: 4vw;
  //     .signoMas1 {
  //       width: 18px;
  //       height: 1px;
  //       background-color: black;
  //       @include center;
  //       margin-right: 2vw;
  //       .signoMas2 {
  //         width: 1px;
  //         height: 18px;
  //         background-color: black;
  //       }
  //     }
  //   }
  // }
}
