.contadorMobile {
  background-color: $naranja;
  height: 7vw;
  width: 7vw;
  @include center;
  font-size: 10vw;
  border-radius: 100%;
  outline: none;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  &:focus {
    outline: none;
  }
  .signoMenos {
    width: 5vw;
    height: 3px;
    background-color: white;
  }
  .signoMas1 {
    width: 5vw;
    height: 3px;
    background-color: white;
    @include center;
    .signoMas2 {
      width: 3px;
      height: 5vw;
      background-color: white;
    }
  }
}

.contadorPC {
  background-color: $naranja;
  height: 1.5vw;
  width: 1.5vw;
  font-size: 10vw;
  @include center;
  font-size: 10vw;
  border-radius: 100%;
  outline: none;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  &:focus {
    outline: none;
  }
  .signoMenos {
    width: 1.2vw;
    height: 2px;
    background-color: white;
  }
  .signoMas1 {
    width: 1.2vw;
    height: 2px;
    background-color: white;
    @include center;
    .signoMas2 {
      width: 2px;
      height: 1.2vw;
      background-color: white;
    }
  }
}
