.carruselContainer {
  overflow: auto;
  .carrusel-wrapper {
    background-color: white;
    overflow-y: auto;
    touch-action: pan-y;
    -webkit-overflow-scrolling: touch;
    #nav,
    #categorias {
      transition: transform 0.2s ease;
      -webkit-transition: transform 0.2s ease;
      -moz-transition: transform 0.2s ease;
      -ms-transition: transform 0.2s ease;
      -o-transition: transform 0.2s ease;
    }
    .nav-hidden {
      transform: translateY(-100%);
      -webkit-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      -o-transform: translateY(-100%);
    }
    // .scrollable-content {
    // background-color: rgb(247, 247, 247);
    // }
  }
}
