.crearCategContainer {
  width: 100vw;
  height: 100vh;

  .formulario {
    padding: 0 5%;
    padding-bottom: 30vw;

    .nombre {
      display: flex;
      flex-direction: column;
      // margin: 0 0 5% 5%;
      .nombreTitle {
        font-weight: $titleWeight;
        font-size: $subtSize;
        margin: 6vw 0 3% 0;
      }
      .nombreInput {
        border: 1px solid grey;
        border-radius: 8px;
        width: 100%;
        height: 12vw;
        background-color: white;
        font-weight: $titleWeight;
        padding: 3%;
        font-size: 3.8vw;
        &::placeholder {
          color: grey;
        }
      }
    }
    .subcategorias {
      display: flex;
      flex-direction: column;
      // padding-bottom: 20vw;
      .subcategTitle {
        font-weight: $titleWeight;
        font-size: $subtSize;
        margin: 6vw 0 3% 0;
      }
      .subcateg {
        display: flex;
        align-items: center;
        height: auto;
        margin-bottom: 3vw;

        .subcategInput {
          border: 1px solid grey;
          border-radius: 8px;
          width: 90%;
          height: 12vw;
          background-color: white;
          font-weight: $titleWeight;
          padding: 3%;
          font-size: 3.8vw;
          &::placeholder {
            color: grey;
          }
        }
        .iconContainer2 {
          width: 8vw;
          height: 8vw;
          border-radius: 8px;
          @include center;
          background-color: #ffe5e5;
          border: 1px solid #ff3d3d;
          margin-left: 3vw;
          .eliminarIcon {
            width: 1.2rem;
            height: 1.2rem;
          }
        }
      }
    }
  }
  .btnContainer {
    margin: 0;
    height: 12vw;
  }
  .footer {
    width: 100vw;
    position: fixed;
    bottom: 0;
    padding-bottom: 5%;
    z-index: 1;
    .botonFooter {
      box-shadow: 0px 0px 4px 0px rgba(77, 79, 102, 0.8);
      @include center;
      background-color: $naranja;
      height: 12vw;
      width: 90vw;
      border-radius: 6px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
      font-weight: $titleWeight;
      font-size: 4vw;
    }
  }
}
