.crearCategContainer {
  width: 100vw;
  height: 100vh;
  .title,
  span {
    font-size: $titleSize !important;
    font-weight: $titleWeight !important;
    line-height: 1.1;
  }
  span {
    color: $naranja;
  }
  .formulario {
    padding: 0 5%;
    padding-bottom: 40vw;

    .nombre {
      display: flex;
      flex-direction: column;
      // margin: 0 0 5% 5%;
      .nombreTitle {
        font-weight: $titleWeight;
        font-size: $subtSize;
        margin: 3vw 0;
      }
      .nombreInput {
        border: 1px solid grey;
        border-radius: 8px;
        width: 100%;
        height: 12vw;
        background-color: white;
        font-weight: $titleWeight;
        padding: 3%;
        font-size: 3.8vw;
        &::placeholder {
          color: grey;
        }
      }
    }
    .subcategorias {
      display: flex;
      flex-direction: column;
      // padding-bottom: 20vw;
      .subcategTitle {
        font-weight: $titleWeight;
        font-size: $subtSize;
        margin: 6vw 0 3% 0;
      }
      .subcateg {
        display: flex;
        align-items: center;
        height: auto;
        margin-bottom: 3vw;

        .subcategInput {
          border: 1px solid grey;
          border-radius: 8px;
          width: 90%;
          height: 12vw;
          background-color: white;
          font-weight: $titleWeight;
          padding: 3%;
          font-size: 3.8vw;
          &::placeholder {
            color: grey;
          }
        }
        .iconContainer2 {
          width: 8vw;
          height: 8vw;
          border-radius: 8px;
          @include center;
          background-color: #ffe5e5;
          border: 1px solid #ff3d3d;
          margin-left: 3vw;
          .eliminarIcon {
            width: 1.2rem;
            height: 1.2rem;
          }
        }
      }
    }
    .crearSubCateg {
      position: relative;
      .nombreInput {
        border: 1px solid grey;
        border-radius: 8px;
        width: 100%;
        height: 12vw;
        background-color: white;
        padding: 3%;
        font-size: 3.8vw;
        &::placeholder {
          color: grey;
        }
      }
      .agregarBtn {
        position: absolute;
        top: 25%;
        right: 3%;
        color: $info;
        font-weight: $titleWeight;
        &:focus {
          outline: none;
        }
      }
      .submitBtn {
        width: fit-content;
      }
    }
  }
  .btnContainer {
    margin: 0;
    // margin-top: 5vw;
    height: 12vw;
  }
}

.footer {
  width: 90vw;
  position: fixed;
  bottom: 0;
  padding-bottom: 5%;
  z-index: 1;
  @include center;
  justify-content: space-between;
  .botonFooter,
  .botonDescartar {
    @include center;
    height: 12vw;
    width: 42.5vw;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    font-weight: $titleWeight;
    font-size: 4vw;
    box-shadow: 0px 0px 4px 0px rgba(77, 79, 102, 0.8);
  }
  .botonDescartar {
    border: 1px solid black;
    background-color: white;
    .eliminarIcon {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 1vw;
    }
  }
  .botonFooter {
    background-color: $naranja;
  }
}
