.footer {
  width: 100vw;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 0 5.5% 5% 5.5%;
  transition: all 0.3s ease;
  z-index: 9999;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;

  .botonFooter {
    // box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.249);
    box-shadow: 0px 0px 4px 0px rgba(77, 79, 102, 0.8);
    @include center;
    justify-content: space-between;
    position: relative;
    background-color: $naranja;
    height: 6vh;
    padding: 0 10% 0 15%;
    width: 90vw;
    // height: 5.5vh;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    .verPedido {
      padding: 3.5% 10% 3.5% 13%;
      width: 90vw;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 4.5vw;
      font-weight: 700;
      background: none;
    }
    .cantidad,
    .precio {
      font-weight: 600;
      color: $paragraph;
      font-size: 4vw;
    }
    .cantidad {
      // background-color: white;
      border: 1px solid $paragraph;
      width: 6vw;
      @include center;
      border-radius: 100%;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      -o-border-radius: 100%;
    }
    .precio {
      font-size: 4.5vw;
    }
    &:focus {
      outline: none;
    }
  }

  /* Footer con botón para vaciar pedido */
  /* .botonFooter {
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.249);
    @include center;
    justify-content: space-between;
    position: relative;
    background-color: $naranja;
    padding: 3.5% 10% 3.5% 3.5%;
    width: 90vw;
    // height: 5.5vh;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    .vaciarCantidad {
      @include center;
      // border: 1px solid red;
      width: 20vw;
      justify-content: space-between;
      .vaciarIcon {
        width: 1.8rem;
        height: 1.8rem;
      }
      .cantidad {
        background-color: white;
        width: 6vw;
        @include center;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
      }
      .precio {
        font-size: 4.5vw;
      }
      &:focus {
        outline: none;
      }
    }
  } */
}

.desplegables {
  height: 100%;

  .desplegable1 {
    z-index: 999;
    height: auto;
    min-height: 100vh;
    width: 100vw;
    background-color: white;
    position: fixed;
    top: 0;

    .scrollable-content {
      height: 100vh;
      width: 100vw;
      overflow-y: auto;
      padding-bottom: 35%;
      @include centerCol;
      justify-content: start;
      .header1 {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        height: auto;
        width: 100vw;
        padding: 5%;
        .titleHeader1 {
          margin-top: 4%;
          font-weight: 700;
          font-size: 6vw;
        }
        .ocultarBtn {
          width: 8vw;
          height: 8vw;
          border: 1px solid $paragraph;
          border-radius: 8px;
          @include center;
          .arrow-down {
            position: relative;
            display: block;
            width: 12px;
            height: 12px;
            margin-top: -5px;
            border-right: 3px solid black;
            border-bottom: 3px solid black;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
          }
        }
      }
      .cardProducto {
        width: 90vw;
        margin-bottom: 5%;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
        padding: 5%;
        height: auto;
        display: flex;
        .nombre {
          font-weight: 700;
          font-size: 4.5vw;
          width: 50%;
          padding-right: 6vw;
        }
        /* .descripcion {
        } */
        .precioAcciones {
          width: 50%;
          @include center;
          justify-content: space-between;
          .precio {
            font-weight: 700;
            color: $paragraph;
            font-size: 4vw;
          }
          .acciones {
            min-width: 50%;
            @include center;
            justify-content: end;
            .iconContainer1 {
              width: 8vw;
              height: 8vw;
              border: 1px solid $paragraph;
              border-radius: 8px;
              @include center;
              margin-right: 2vw;
              .editarIcon {
                width: 1.2rem;
                height: 1.2rem;
                @include center;
              }
            }
            .iconContainer2 {
              width: 8vw;
              height: 8vw;
              border: 1px solid $paragraph;
              border-radius: 8px;
              @include center;
              .eliminarIcon {
                width: 1.2rem;
                height: 1.2rem;
                @include center;
              }
            }
          }
        }
      }
    }

    .footer1 {
      position: fixed;
      bottom: 0;
      width: 100vw;
      height: 14vh;
      box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
      display: flex;
      justify-content: space-between;
      padding: 2.5% 5% 0 5%;
      font-size: 4.8vw;
      font-weight: 700;
      background-color: white;
    }
  }
  .desplegable2 {
    z-index: 9999;
    height: 100vh;
    width: 100vw;
    background-color: white;
    position: absolute;
    top: 0;
    // padding: 2vh 5% 10vh 5%;
  }
}

// Clases funcionales

.ocultar {
  display: none !important;
}

.noScroll {
  overflow-y: hidden;
}

.animate-slide-up {
  animation-name: slide-up;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
    opacity: 1;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-down {
  animation-name: slide-down;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}

@keyframes slide-down {
  from {
    transform: translateY(0);
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  to {
    transform: translateY(100%);
    opacity: 1;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
  }
}

.margen {
  margin-bottom: -10vh;
}
