header {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: static !important;

  h1 {
    padding: 3% 0 1% 0;
    font-size: 6vw;
    color: rgb(250, 178, 58);
    font-weight: 800;
  }
  .subHeader {
    z-index: 999;

    nav {
      background-color: white;
      height: 7vh;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0 5%;
      align-items: center;
      .carritoIcon,
      .usuarioIcon {
        width: 12vw;
        height: 5vh;
        transform: scaleX(-1);
        fill: rgb(250, 178, 58);
      }
    }
    .categorias {
      display: flex;
      align-items: center;
      background-color: white;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      border-top: 1px solid rgba(0, 0, 0, 0.3);
      width: 100vw;
      // padding-top: 3%;
      height: 7vh;
      overflow-x: auto;
      white-space: nowrap;
      /* Ocultar la barra de desplazamiento */
      scrollbar-width: none;
      &::-webkit-scrollbar {
        width: 0;
        background-color: transparent;
      }
      &::-webkit-scrollbar-thumb {
        background-color: transparent;
      }
      &::-webkit-scrollbar-track {
        background-color: transparent;
      }
      &::-ms-scrollbar {
        display: none;
      }
      .categoria {
        font-weight: 500;
        font-size: 4.5vw;
        // font-weight: 800;
        &:not(:last-child) {
          margin-right: 1rem;
        }
      }
    }
  }
  .subCategorias {
    display: flex;
    align-items: center;
    background-color: white;
    width: 100vw;
    height: 7vh;
    font-size: 4.5vw;
    overflow-x: auto;
    white-space: nowrap;
    /* Ocultar la barra de desplazamiento */
    scrollbar-width: none;
    &::-webkit-scrollbar {
      width: 0;
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: transparent;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
    &::-ms-scrollbar {
      display: none;
    }
  }
}
