.historialContainer {
  background-color: rgb(247, 247, 247);

  .alerta {
    padding-left: 5%;
  }
  .cardPedido {
    background-color: rgb(255, 255, 255);
    width: 90vw;
    margin-bottom: 5%;
    margin-left: 5%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    padding: 5%;
    height: auto;
    display: flex;
    .nombreItemsPrecio {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .nombreItems {
        display: flex;
        flex-direction: column;
        width: 80%;
        .nombre {
          font-weight: $titleWeight;
          font-size: 4vw;
          width: 60%;
        }
        .itemsExtra {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          list-style: none;
          padding: 5% 0 0 5%;
          line-height: 1;

          .list-item {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            .list-item-circle {
              display: inline-block;
              width: 5px;
              height: 5px;
              border-radius: 50%;
              background-color: black;
              margin-right: 5px;
            }
          }
        }
      }
      .precio {
        font-weight: $titleWeight;
        color: $paragraph;
        font-size: 4vw;
      }
    }
  }
}
