.historialContainer {
  background-color: rgb(247, 247, 247);

  .alerta {
    padding-left: 5%;
  }
  .cardPedido {
    background-color: rgb(255, 255, 255);
    width: 90vw;
    margin-bottom: 5%;
    margin-left: 5%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    padding: 5%;
    height: auto;
    display: flex;
    .nombreItemsPrecio {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      .nombreItems {
        display: flex;
        flex-direction: column;
        width: 100%;
        .nombre {
          font-weight: $titleWeight;
          font-size: 4vw;
          width: 60%;
        }
        .itemsExtra {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          list-style: none;
          padding: 5% 0 0 5%;
          line-height: 1;

          .list-item {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            .list-item-circle {
              display: inline-block;
              width: 5px;
              height: 5px;
              border-radius: 50%;
              background-color: black;
              margin-right: 5px;
            }
          }
        }
      }
      .supBar {
        @include centerRow;
        padding: 5% 0 5% 0;
        width: 100%;
        justify-content: space-between;
        font-weight: $titleWeight;
        font-size: 4vw;
        .estado {
          @include centerRow;
        }
      }
      .footerPed {
        @include centerRow;
        padding: 5% 0 5% 0;
        width: 100%;
        justify-content: space-between;
        font-weight: $titleWeight;
        font-size: 4vw;
        .total {
          font-weight: 400;
          margin-right: -20vw;
        }
        .precio {
          color: $success;
        }
        .metodoDePago {
          @include centerRow;
        }
      }

      .estado-info {
        border-radius: 0.5rem;
        padding: 1%;
        color: $info;
        background-color: lighten($info, 42%);
      }

      .estado-naranja {
        border-radius: 0.5rem;
        padding: 1%;
        color: $naranja;
        background-color: lighten($naranja, 34%);
      }

      .estado-success {
        border-radius: 0.5rem;
        padding: 1%;
        color: $success;
        background-color: lighten($success, 52%);
      }
    }
  }
}
