.menuContainer {
  padding: 0 5% 28vw 5%;
  min-height: 90vh;
  .cardsVisibles,
  .cardsNoVisibles {
    .nombreCateg {
      font-weight: $titleWeight;
      font-size: $titleSize;
      margin-bottom: 5%;
      margin-top: 10%;
    }
    .cardProducto,
    .cardItem,
    .cardItemNoVisible {
      background-color: white;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
      padding: 5%;
      min-height: 12rem;
      &:first-child {
        margin-top: 5%;
      }
      @media only screen and (max-height: 700px) {
        min-height: 25vh;
      }
      max-height: fit-content;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .nombre {
        font-weight: $titleWeight;
        font-size: $subtSize;
      }
      .descripcion {
        font-size: 4.2vw;
      }
      .precioAcciones {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        margin-top: 10%;
        .precio {
          font-weight: $titleWeight;
          font-size: 5vw;
        }
        .acciones {
          min-width: 50%;
          @include center;
          justify-content: flex-end;
          .iconContainer1 {
            width: 8vw;
            height: 8vw;
            border: 1px solid $paragraph;
            border-radius: 8px;
            @include center;
            margin-right: 4vw;
            .editarIcon {
              width: 1.2rem;
              height: 1.2rem;
            }
          }
          .iconContainer2 {
            width: 8vw;
            height: 8vw;
            border: 1px solid $paragraph;
            border-radius: 8px;
            @include center;
            .eliminarIcon {
              width: 1.2rem;
              height: 1.2rem;
            }
          }
        }
      }
    }
  }
}
