.miPedidoMobile {
  height: 100%;
  .desplegable1 {
    z-index: 999;
    height: auto;
    min-height: 100vh;
    width: 100vw;
    background-color: rgb(247, 247, 247);
    position: fixed;
    top: 0;

    .scrollable-content {
      height: 100vh;
      width: 100vw;
      padding-bottom: 30%;
      justify-content: flex-start;
      overflow: auto;

      .cardProducto {
        background-color: rgb(255, 255, 255);
        width: 90vw;
        margin-bottom: 5%;
        margin-left: 5%;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
        padding: 5%;
        height: auto;
        display: flex;
        .nombreItemsPrecio {
          width: 80%;
          .nombrePrecio {
            display: flex;
            justify-content: space-between;
            .nombre {
              font-weight: $titleWeight;
              font-size: 4vw;
              width: 60%;
            }
            .precio {
              font-weight: $titleWeight;
              color: $paragraph;
              font-size: 4vw;
            }
          }
          .itemsExtra {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            list-style: none;
            padding: 5% 0 0 5%;
            line-height: 1;

            .list-item {
              display: flex;
              align-items: center;
              margin-bottom: 10px;
              .list-item-circle {
                display: inline-block;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: black;
                margin-right: 8px;
              }
            }
          }
        }

        .accionesCont {
          width: 50%;

          .acciones {
            min-width: 50%;
            @include center;
            justify-content: flex-end;
            .iconContainer1 {
              width: 8vw;
              height: 8vw;
              border: 1px solid $paragraph;
              border-radius: 8px;
              @include center;
              margin-right: 4vw;
              .editarIcon {
                width: 1.2rem;
                height: 1.2rem;
              }
            }
            .iconContainer2 {
              width: 8vw;
              height: 8vw;
              border: 1px solid $paragraph;
              border-radius: 8px;
              @include center;
              .eliminarIcon {
                width: 1.2rem;
                height: 1.2rem;
              }
            }
          }
        }
      }
      .vaciarCont {
        @include center;
        margin: 10% 0;
        .vaciarBtn {
          font-weight: $titleWeight;
          font-size: 4vw;
          line-height: 1;
          // text-decoration: underline;
          border-bottom: 1px solid black;
        }
      }
    }

    .footer1 {
      position: fixed;
      bottom: 0;
      width: 100vw;
      // height: 14vh;
      box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
      display: flex;
      justify-content: space-between;
      padding: 2.5% 5% 20% 5%;
      font-size: 4.8vw;
      font-weight: $titleWeight;
      background-color: white;
      .footer {
        width: 100vw;
        position: fixed;
        bottom: 0;
        display: flex;
        align-items: center;
        padding-bottom: 5%;
        transition: all 0.3s ease;
        z-index: 9999;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;

        .botonFooter {
          box-shadow: 0px 0px 4px 0px rgba(77, 79, 102, 0.8);
          @include center;
          position: relative;
          background-color: $naranja;
          height: 12vw;
          width: 90vw;
          border-radius: 6px;
          -webkit-border-radius: 6px;
          -moz-border-radius: 6px;
          -ms-border-radius: 6px;
          -o-border-radius: 6px;
          &:focus {
            outline: none;
          }
          .siguiente {
            font-size: $subtSize;
            font-weight: $titleWeight;
          }
        }
      }
    }
  }
  .desplegable2 {
    z-index: 9999;
  }
}

// Clases funcionales

.ocultar {
  display: none !important;
}

.noScroll {
  overflow-y: hidden;
}

.margen {
  margin-bottom: -10vh;
}

.animate-slide-right {
  animation: slideRight 0.3s;
}

@keyframes slideRight {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

// Responsive

.miPedidoPC {
  z-index: 999;
  background-color: white;
  position: fixed;
  bottom: 0;
  right: 0;
  height: 80vh;
  width: 30vw;
  overflow-y: auto;
  padding: 1.5% 0 7.8% 0;
  &::-webkit-scrollbar {
    width: 0.8vw; /* Cambia el ancho del scrollbar vertical */
    height: auto; /* Cambia el ancho del scrollbar horizontal */
  }
  &::-webkit-scrollbar-thumb {
    background-color: #d5d5d5; /* Color del "pulgar" del scrollbar */
    border-radius: 5px; /* Borde redondeado del pulgar */
  }
  .desplegable1 {
    .scrollable-content {
      /* height: 78vh;
      width: 100%;
      padding-bottom: 30%;
      justify-content: flex-start;
      overflow: auto; */
      .headerAtras {
        display: none;
      }
      .cardProducto {
        background-color: rgb(255, 255, 255);
        width: 90%;
        margin-bottom: 5%;
        margin-left: 5%;
        border-radius: 0.8vw;
        -webkit-border-radius: 0.8vw;
        -moz-border-radius: 0.8vw;
        -ms-border-radius: 0.8vw;
        -o-border-radius: 0.8vw;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
        padding: 2.5%;
        height: auto;
        display: flex;
        align-items: center;
        .nombreItemsPrecio {
          width: 80%;
          .nombrePrecio {
            display: flex;
            justify-content: space-between;
            .nombre {
              font-weight: $titleWeight;
              font-size: $subtSizePC;
              width: 70%;
            }
            .precio {
              font-weight: $titleWeight;
              color: $paragraph;
              font-size: $subtSizePC;
            }
          }
          .itemsExtra {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            list-style: none;
            padding: 5% 0 0 5%;
            line-height: 1;
            font-size: $subtSizePC;

            .list-item {
              display: flex;
              align-items: center;
              margin-bottom: 10px;
              .list-item-circle {
                display: inline-block;
                width: 0.4vw;
                height: 0.4vw;
                border-radius: 50%;
                background-color: black;
                margin-right: 0.4vw;
              }
            }
          }
        }

        .accionesCont {
          width: 50%;

          .acciones {
            min-width: 50%;
            @include center;
            justify-content: flex-end;
            .iconContainer1 {
              width: 2vw;
              height: 2vw;
              border: 1px solid $paragraph;
              border-radius: 6px;
              @include center;
              margin-right: 1vw;
              cursor: pointer;
              .editarIcon {
                width: 1.2vw;
                height: 1.2vw;
              }
            }
            .iconContainer2 {
              cursor: pointer;

              width: 2vw;
              height: 2vw;
              border: 1px solid $paragraph;
              border-radius: 6px;
              @include center;
              .eliminarIcon {
                width: 1.2vw;
                height: 1.2vw;
              }
            }
          }
        }
      }
      .vaciarCont {
        @include center;
        margin: 2vw 0;
        .vaciarBtn {
          font-weight: $titleWeight;
          font-size: $subtSizePC;
          line-height: 1;
          // text-decoration: underline;
          border-bottom: 1px solid black;
        }
      }
    }

    .footer1 {
      position: fixed;
      bottom: 0;
      width: 30vw;
      // border-top: 2px solid rgba(171, 171, 171, 0.5);
      border-top: 1px solid rgba(160, 160, 160, 0.559);

      display: flex;
      justify-content: space-between;
      padding: 1% 2% 5% 2%;
      font-size: $titleSizePC;
      font-weight: $titleWeight;
      background-color: white;
      .footer {
        width: 30vw;
        position: fixed;
        bottom: 0;
        display: flex;
        align-items: center;
        padding-bottom: 1%;
        transition: all 0.3s ease;
        z-index: 9999;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;

        .botonFooter {
          box-shadow: 0px 0px 4px 0px rgba(77, 79, 102, 0.8);
          @include center;
          height: 3vw;
          width: 86%;
          border-radius: 6px;
          -webkit-border-radius: 6px;
          -moz-border-radius: 6px;
          -ms-border-radius: 6px;
          -o-border-radius: 6px;
          &:focus {
            outline: none;
          }
          .siguiente {
            font-size: $subtSizePC;
            font-weight: $titleWeight;
          }
        }
        .btnGris {
          background-color: rgb(189, 189, 189);
          cursor: not-allowed;
        }
        .btnNaranja {
          background-color: $naranja;
        }
      }
    }
  }
}
