.subCategContainer {
  width: 100vw;
  height: 100vh;
  .header1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: auto;
    width: 100vw;
    padding: 5%;

    .categTitle {
      margin-top: 4%;
      font-weight: $titleWeight;
      font-size: $titleSize;
      width: 80vw;
    }
    .ocultarBtn {
      width: 8vw;
      height: 8vw;
      border: 1px solid $paragraph;
      border-radius: 8px;
      background-color: rgb(255, 255, 255);
      @include center;
      .arrow-left {
        position: relative;
        display: block;
        width: 12px;
        height: 12px;
        margin-right: -5px;
        border-right: 3px solid black;
        border-bottom: 3px solid black;
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -o-transform: rotate(135deg);
      }
    }
  }

  .formulario {
    padding: 0 5%;
    .nombre {
      display: flex;
      flex-direction: column;
      // margin: 0 0 5% 5%;

      .nombreTitle {
        font-weight: $titleWeight;
        font-size: $subtSize;
        margin-bottom: 3%;
      }
      .nombreInput {
        border: 1px solid grey;
        border-radius: 8px;
        width: 100%;
        height: 12vw;
        // text-align: center;
        background-color: white;
        font-weight: $titleWeight;
        padding: 3%;
        font-size: 3.8vw;
        &::placeholder {
          color: grey;
        }
      }
    }
  }

  footer {
    width: 100vw;
    position: fixed;
    bottom: 0;
    padding-bottom: 5%;
    z-index: 1;
    .botonFooter {
      box-shadow: 0px 0px 4px 0px rgba(77, 79, 102, 0.8);
      @include center;
      background-color: $naranja;
      height: 12vw;
      width: 90vw;
      border-radius: 6px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
      font-weight: $titleWeight;
      font-size: 4vw;
    }
  }
}
