// Ocultar flechas de incremento y decremento en input type=number

// Para navegadores WebKit (Chrome, Safari)
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// Para Firefox
input[type="number"]::-moz-number-spin-box {
  -moz-appearance: textfield;
  /* color: rgb(61, 61, 206); */
}

.statsBar {
  canvas {
    width: 1200px !important;
    height: 600px !important;
  }
}
.statsPie {
  canvas {
    width: 800px !important;
    height: 800px !important;
  }
}
