// Ocultar flechas de incremento y decremento en input type=number

// Para navegadores WebKit (Chrome, Safari)
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// Para Firefox
input[type="number"]::-moz-number-spin-box {
  -moz-appearance: textfield;
  /* color: rgb(61, 61, 206); */
}

.statsBar {
  canvas {
    width: 400px !important;
    height: 200px !important;
  }
}
.statsPie {
  canvas {
    width: 400px !important;
    height: 400px !important;
  }
}

// UI Settings
@import "./base/settings";

// Components
@import "./components/header";
@import "./components/carrusel";
@import "./components/menu";
@import "./components/hacerPedido";
@import "./components/miPedido";
@import "./components/filtros";
@import "./components/itemsCliente";
@import "./components/button";
@import "./components/login";
@import "./components/historial";
@import "./components/editarCateg";
@import "./components/adminCateg";
@import "./components/usuarios";
@import "./components/register";
@import "./components/headerBack";
